@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
#TopBar {
  display: grid;
  grid-template-areas: "logo ContactInfo Socials" "logo NavBar LogIn";
  width: 100%;
  height: 120px;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

.logoType {
  grid-area: logo;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ContactInfo {
  grid-area: ContactInfo;
  justify-content: start;
  align-items: center;
  display: flex;
  border-bottom: 1px #707070 solid;
  margin-bottom: 31px;
}
.ContactInfo p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin: 10px;
  padding-right: 10px;
  border-right: 1px #707070 solid;
}
.ContactInfo p i {
  margin-right: 5px;
}

.NavBar {
  grid-area: NavBar;
  justify-content: start;
  align-items: center;
  display: flex;
}
.NavBar a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin-right: 35px;
  color: black;
  font-weight: 500;
}

.SocialMedia {
  justify-content: start;
  align-items: center;
  display: flex;
  margin-bottom: 23px;
}
.SocialMedia i {
  border-bottom: 1px #707070 solid;
  padding: 10px;
  padding-bottom: 10px;
}

.logIn {
  justify-content: start;
  align-items: center;
  display: flex;
}
.logIn button {
  width: 122px;
  height: 48px;
  border-radius: 25px;
  border: none;
  background-color: #F9D783;
  font-family: "Inte", sans-serif;
  font-size: 16px;
}
.logIn button i {
  padding-left: 15px;
  background-color: #F9D783;
}
.logIn button:hover {
  background-color: lightblue;
  height: 100px;
}
.logIn button:hover i {
  background-color: lightblue;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 780px;
  background-color: lightgrey;
}

.Header {
  width: 831px;
  height: 500px;
}
.Header h1 {
  font-size: 96px;
  font-family: "DM", sans-serif;
  font-weight: bold;
}
.Header p {
  width: 691px;
  height: 59px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.Header button {
  width: 208px;
  height: 56px;
  background-color: #F9D783;
  border-radius: 25px;
  border: none;
  margin-right: 10px;
}
.Header button i {
  margin-left: 10px;
}
.Header button:hover {
  background-color: lightblue;
  height: 100px;
}
.Header button:hover i {
  background-color: lightblue;
  margin-left: 10px;
}

#LearnMore-1 {
  background-color: white;
  margin-left: 25px;
}
#LearnMore-1 i {
  background-color: white;
}

#LearnMore-1:hover {
  height: 100px;
  background-color: lightblue;
}
#LearnMore-1:hover i {
  background-color: lightblue;
}

.image {
  height: 726px;
  width: 653px;
  justify-content: center;
  align-items: center;
  padding-right: 90px;
}

#Ads {
  display: grid;
  height: 88px;
  width: 1320px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

#LowerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1520px;
  margin-left: auto;
  margin-right: auto;
}
#LowerMain .Features {
  width: 460px;
  height: 303px;
}
#LowerMain .Features h6 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #F94D1C;
  width: 90px;
  height: 24px;
  text-align: start;
}
#LowerMain .Features h3 {
  width: 460px;
  height: 186px;
  font-size: 40px;
  font-weight: bold;
  text-align: start;
}
#LowerMain .Features button {
  width: 460px;
  height: 56px;
  background-color: #F9D783;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  bottom: 10px;
}
#LowerMain .Features button i {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
#LowerMain .Features button:hover {
  background-color: lightblue;
  height: 100px;
}
#LowerMain .InfoBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
#LowerMain .box {
  width: 307px;
  height: 220px;
  justify-content: center;
  align-items: center;
  align-items: center;
}
#LowerMain .box .box-2 {
  margin: 10px 10px 20px 20px;
}
#LowerMain .box .box-2 img {
  margin: 5px;
}
#LowerMain .box .box-2 h4 {
  font-size: 22px;
  font-family: "DM", sans;
  font-weight: bold;
}
#LowerMain .box .box-2 p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-align: start;
  position: relative;
}

#LowerBar {
  width: 1320px;
  height: 615px;
  justify-content: start;
  align-items: start;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#LowerBar .founder img {
  height: 615px;
  width: 533px;
  margin-left: 60px;
  position: absolute;
}
#LowerBar .bio {
  position: relative;
  width: 368px;
  height: 160px;
  background-color: #BEEBFF;
  top: 350px;
}
#LowerBar .bio .bio-2 {
  display: flex;
  position: relative;
  top: 10px;
}
#LowerBar .bio .bio-2 h4 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
#LowerBar .bio .bio-2 p {
  position: relative;
  text-align: center;
  margin-left: 10px;
  font-size: 16px;
  color: #F94D1C;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
#LowerBar .bio .Lorem {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 400;
  height: 47px;
  width: 320px;
}
#LowerBar .AboutUs {
  width: 532px;
  height: 589px;
  margin-left: auto;
}
#LowerBar .AboutUs p {
  width: 137px;
  height: 24px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #F94D1C;
  justify-content: start;
}
#LowerBar .AboutUs h1 {
  width: 532px;
  height: 168px;
  font-size: 45px;
  font-weight: bold;
  font-family: "DM sans";
}
#LowerBar .AboutUs .Lorem-1 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: black;
  width: 488px;
  height: 93px;
}
#LowerBar .AboutUs .Lorem-2 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: black;
  width: 488px;
  height: 93px;
}
#LowerBar .AboutUs .play-btn {
  display: flex;
}
#LowerBar .AboutUs .play-btn button {
  width: 180px;
  height: 56px;
  border-radius: 25px;
  background-color: black;
  color: white;
  border: none;
}
#LowerBar .AboutUs .play-btn button i {
  margin-left: 10px;
}
#LowerBar .AboutUs .play-btn button:hover {
  background-color: lightblue;
  height: 100px;
}
#LowerBar .AboutUs .play-btn .play {
  display: flex;
  margin-left: 30px;
  width: 149px;
  height: 48px;
}
#LowerBar .AboutUs .play-btn .play i {
  position: relative;
  margin-left: 30px;
  top: 30px;
  right: 10px;
}
#LowerBar .AboutUs .play-btn p {
  color: black;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  position: relative;
  right: 90px;
  bottom: auto;
  top: 15px;
}

.LetsConnect {
  Width: 1920px;
  Height: 300px;
  background-color: lightgray;
  padding-top: 50px;
}
.LetsConnect .contactMenu {
  width: 124px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.LetsConnect .contactMenu a {
  text-decoration-line: none;
  margin: 10px;
  margin-top: 50px;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.LetsConnect .ConnectText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 372px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
}
.LetsConnect .ConnectText H1 {
  font-size: 56px;
  font-family: "DM", sans-serif;
  font-weight: bold;
}

.contactOptions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactOptions .Option {
  width: 420px;
  height: 206px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.contactOptions .Option .OptionBox {
  display: FLEX;
}
.contactOptions .Option .OptionBox i {
  margin-right: 10px;
  margin-top: 10px;
}
.contactOptions .Option .OptionBox h6 {
  font-size: 16px;
  font-weight: bold;
}
.contactOptions .Option .OptionBox p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.TextBar {
  width: 1320px;
  height: 766px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  padding-top: 50px;
}
.TextBar .postMessage {
  width: 449px;
  height: 107px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.TextBar .postMessage h4 {
  color: #191919;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: bold;
}
.TextBar .TextArea {
  width: 1021px;
  height: 404px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 170px;
}
.TextBar .TextArea .nameBar {
  width: 1021px;
  height: 56px;
  border-radius: 25px;
  padding-left: 30px;
  padding-top: 10px;
}
.TextBar .TextArea .MessageBar {
  width: 1021px;
  height: 160px;
  border-radius: 25px;
  padding-left: 25px;
  padding-top: 10px;
}
.TextBar .TextArea button {
  width: 100%;
  height: 56px;
  border-radius: 25px;
  border: none;
  background-color: #F9D783;
  margin-top: 25px;
}
.TextBar .TextArea button i {
  margin: 10px;
}
.TextBar .TextArea button:hover {
  height: 100px;
  background-color: lightblue;
}

.map {
  width: 1021px;
  height: 620px;
}
.map img {
  padding-top: 100px;
}

.footer {
  width: 1920px;
  height: 513px;
}
.footer .footerInfo {
  width: 1920px;
  height: 433px;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  border-bottom: 1px solid gray;
  padding-top: 50px;
}
.footer .footerInfo .footerLogo {
  width: 311px;
  height: 208px;
}
.footer .footerInfo .footerLogo img {
  width: 168px;
  height: 54px;
}
.footer .footerInfo .footerLogo p {
  font-size: 19px;
  font-family: "Inter", sans-serif;
  text-align: left;
  width: 309px;
  height: 125px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.footer .footerInfo .company {
  width: 145px;
  height: 213px;
}
.footer .footerInfo .company h6 {
  width: 140px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.footer .footerInfo .company p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 19px;
  font-family: "Inter", sans-serif;
  text-align: left;
  line-height: 40px;
}
.footer .footerSocials {
  width: 1920px;
  height: 79px;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.footer .footerSocials .certificate {
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer .footerSocials .Socials {
  border: none;
}
.footer .footerSocials .Socials i {
  margin: 10px;
  color: white;
}

#ServiceBar {
  width: 1920px;
  height: 870px;
  margin-top: 50px;
  padding-left: 300px;
  padding-top: 120px;
  background-color: lightgray;
}
#ServiceBar .ourService {
  width: 116px;
  height: 22px;
  margin-bottom: 17px;
}
#ServiceBar .ourService p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 22px;
  color: #F94D1C;
}
#ServiceBar .ServiceHeader {
  width: 504px;
  height: 106px;
  margin-bottom: 50px;
}
#ServiceBar .ServiceHeader h1 {
  font-size: 45px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 54px;
}

.ServiceBox {
  justify-content: start;
  align-items: center;
  display: flex;
}

.ServiceBox-1 {
  width: 308PX;
  height: 303px;
  background-color: white;
  margin-right: 30px;
  padding-top: 15px;
}
.ServiceBox-1 .line {
  width: 39px;
  height: 0px;
  border: 1.5px solid #191919;
  margin: 30px;
}
.ServiceBox-1 h6 {
  width: 248px;
  height: 30px;
  position: absolute;
  left: 330px;
}
.ServiceBox-1 .paragraph {
  width: 248px;
  height: 77px;
  position: absolute;
  left: 330px;
  margin-top: 15px;
}
.ServiceBox-1 .paragraph p {
  font-family: "Inter";
  font-size: 16px;
  line-height: 28px;
  padding-top: 12px;
}
.ServiceBox-1 .paragraph i {
  width: 56px;
  height: 56px;
  color: white;
  background-color: #191919;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  margin-left: 200px;
}

.ServiceBox-2 {
  width: 308PX;
  height: 303px;
  background-color: white;
  margin-right: 30px;
  padding-top: 15px;
}
.ServiceBox-2 .line-2 {
  width: 39px;
  height: 0px;
  border: 1.5px solid #191919;
  margin: 30px;
}
.ServiceBox-2 h6 {
  width: 248px;
  height: 30px;
  position: absolute;
  margin-left: 30px;
}
.ServiceBox-2 .paragraph-2 {
  width: 248px;
  height: 77px;
  position: absolute;
  margin-left: 30px;
  margin-top: 15px;
}
.ServiceBox-2 .paragraph-2 p {
  font-family: "Inter";
  font-size: 16px;
  line-height: 28px;
  padding-top: 12px;
}
.ServiceBox-2 .paragraph-2 i {
  width: 56px;
  height: 56px;
  color: white;
  background-color: #191919;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  margin-left: 200px;
}

.ServiceBox-2-1 {
  width: 308PX;
  height: 303px;
  background-color: #F9D783;
  margin-right: 30px;
  padding-top: 15px;
}
.ServiceBox-2-1 .line-2 {
  width: 39px;
  height: 0px;
  border: 1.5px solid #191919;
  margin: 30px;
}
.ServiceBox-2-1 h6 {
  width: 248px;
  height: 30px;
  position: absolute;
  margin-left: 30px;
}
.ServiceBox-2-1 .paragraph-2 {
  width: 248px;
  height: 77px;
  position: absolute;
  margin-left: 30px;
  margin-top: 15px;
}
.ServiceBox-2-1 .paragraph-2 p {
  font-family: "Inter";
  font-size: 16px;
  line-height: 28px;
  padding-top: 12px;
}
.ServiceBox-2-1 .paragraph-2 i {
  width: 56px;
  height: 56px;
  color: white;
  background-color: #191919;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  margin-left: 200px;
}

.ServiceButton {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 1920px;
  padding-left: auto;
  padding-right: 600px;
  margin-top: 50px;
}
.ServiceButton .ServiceBtn {
  width: 221px;
  height: 56px;
  border-radius: 25px;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  line-height: 16px;
}
.ServiceButton .ServiceBtn i {
  margin: 10px;
}
.ServiceButton .ServiceBtn:hover {
  background-color: #BEEBFF;
  width: 420px;
  font-size: 30px;
}

.Choice {
  width: 1620px;
  height: 630px;
  margin-left: 300px;
  display: flex;
  padding-top: 61px;
}
.Choice .FirstChoice {
  width: 563px;
  height: 100%;
}
.Choice .FirstChoice h6 {
  color: #F94D1C;
  font-size: 18px;
  font-family: "inter";
  line-height: 22px;
  width: 143px;
  height: 22px;
}
.Choice .FirstChoice h1 {
  width: 447px;
  height: 162px;
  font-size: 45px;
  font-family: "DM Sans";
  font-weight: bold;
  margin-bottom: 48px;
}
.Choice .FirstChoice .ChoiceGrid {
  display: inline-block;
  height: 63px;
  width: 420px;
  display: flex;
  margin-bottom: 42px;
}
.Choice .FirstChoice .ChoiceGrid .ExcellentImage {
  width: 60px;
  height: 60px;
  border: 1px solid lightgrey;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.Choice .FirstChoice .ChoiceGrid .ExcellentImage img {
  width: 32px;
  height: 32px;
}
.Choice .FirstChoice .ChoiceGrid h3 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 33px;
  width: 336px;
  height: 33px;
  margin-bottom: 8px;
}
.Choice .FirstChoice .ChoiceGrid p {
  font-size: 16px;
  font-family: "Inter";
  line-height: 23px;
  width: 336px;
  height: 21px;
}
.Choice .SecondChoice {
  width: 1057px;
  height: 603px;
  padding-left: 110px;
  background: linear-gradient(360deg, #F0EFE9 70%, white 30%);
}
.Choice .SecondChoice img {
  width: 545px;
  height: 405px;
}

.caseStudies {
  margin-left: 500px;
  width: 833px;
  height: 100px;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  display: block;
}
.caseStudies .caseheader {
  text-align: center;
}
.caseStudies .caseheader h6 {
  width: 206px;
  height: 22px;
  color: #F94D1C;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
.caseStudies .caseheader h1 {
  width: 833px;
  height: 60px;
  font-size: 45px;
  font-family: "DM Sans";
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}
.caseStudies .caseBox {
  display: grid;
  grid-template-areas: "caseBox1 caseBox2" "caseBox3 caseBox4";
  gap: 30px;
  padding-LEFT: auto;
  padding-right: auto;
  margin-left: auto;
  left: 300px;
  position: absolute;
}
.caseStudies .caseBox .caseBox-1 {
  grid-area: "caseBox1";
  top: 4470px;
}
.caseStudies .caseBox .caseBox-1 img {
  width: 645px;
  height: 311px;
}
.caseStudies .caseBox .caseBox-1 h3 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  width: 645px;
  height: 30px;
  border-bottom: #F0EFE9 2px solid;
  margin-top: 40px;
  line-height: 10px;
}
.caseStudies .caseBox .caseBox-1 .ReadButton {
  width: 645px;
  height: 49px;
  justify-content: end;
  align-items: end;
  display: flex;
}
.caseStudies .caseBox .caseBox-1 .ReadButton .ReadMe .button-10 {
  width: 124px;
  height: 44px;
  border: none;
  background-color: white;
  margin-top: 70px;
  font-size: 16px;
  font-family: "Inter";
  color: black;
}
.caseStudies .caseBox .caseBox-1 .ReadButton .ReadMe .button-10 i {
  margin: 5px;
}
.caseStudies .caseBox .caseBox-1 .ReadButton .ReadMe .button-10:hover {
  width: 300px;
  background-color: #BEEBFF;
  font-size: 25px;
}
.caseStudies .caseBox .caseBox-2 {
  grid-area: "caseBox2";
  width: 645px;
  height: 455px;
  top: 4470px;
}
.caseStudies .caseBox .caseBox-2 img {
  width: 645px;
  height: 311px;
}
.caseStudies .caseBox .caseBox-2 h3 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  width: 645px;
  height: 30px;
  border-bottom: #F0EFE9 2px solid;
  margin-top: 40px;
  line-height: 10px;
}
.caseStudies .caseBox .caseBox-2 .ReadButton {
  width: 645px;
  height: 49px;
  justify-content: end;
  align-items: end;
  display: flex;
}
.caseStudies .caseBox .caseBox-2 .ReadButton .ReadMe .button-10 {
  width: 124px;
  height: 44px;
  border: none;
  background-color: white;
  margin-top: 70px;
  font-size: 16px;
  font-family: "Inter";
  color: black;
}
.caseStudies .caseBox .caseBox-2 .ReadButton .ReadMe .button-10 i {
  margin: 5px;
}
.caseStudies .caseBox .caseBox-2 .ReadButton .ReadMe .button-10:hover {
  width: 300px;
  background-color: #BEEBFF;
  font-size: 25px;
}
.caseStudies .caseBox .caseBox-3 {
  grid-area: "caseBox3";
  width: 645px;
  height: 455px;
  margin-top: 48px;
}
.caseStudies .caseBox .caseBox-3 img {
  width: 645px;
  height: 311px;
}
.caseStudies .caseBox .caseBox-3 h3 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  width: 645px;
  height: 30px;
  border-bottom: #F0EFE9 2px solid;
  margin-top: 40px;
  line-height: 10px;
}
.caseStudies .caseBox .caseBox-3 .ReadButton {
  width: 645px;
  height: 49px;
  justify-content: end;
  align-items: end;
  display: flex;
}
.caseStudies .caseBox .caseBox-3 .ReadButton .ReadMe .button-10 {
  width: 124px;
  height: 44px;
  border: none;
  background-color: white;
  font-size: 16px;
  font-family: "Inter";
  color: black;
}
.caseStudies .caseBox .caseBox-3 .ReadButton .ReadMe .button-10 i {
  margin: 5px;
}
.caseStudies .caseBox .caseBox-3 .ReadButton .ReadMe .button-10:hover {
  width: 300px;
  background-color: #BEEBFF;
  font-size: 25px;
}
.caseStudies .caseBox .caseBox-4 {
  grid-area: "caseBox4";
  width: 645px;
  height: 455px;
}
.caseStudies .caseBox .caseBox-4 img {
  width: 645px;
  height: 311px;
}
.caseStudies .caseBox .caseBox-4 h3 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  width: 645px;
  height: 30px;
  border-bottom: #F0EFE9 2px solid;
  margin-top: 40px;
  line-height: 10px;
}
.caseStudies .caseBox .caseBox-4 .ReadButton {
  width: 645px;
  height: 49px;
  justify-content: end;
  align-items: end;
  display: flex;
}
.caseStudies .caseBox .caseBox-4 .ReadButton .ReadMe .button-10 {
  width: 124px;
  height: 44px;
  border: none;
  background-color: white;
  margin-top: 70px;
  font-size: 16px;
  font-family: "Inter";
  color: black;
}
.caseStudies .caseBox .caseBox-4 .ReadButton .ReadMe .button-10 i {
  margin: 5px;
}
.caseStudies .caseBox .caseBox-4 .ReadButton .ReadMe .button-10:hover {
  width: 300px;
  background-color: #BEEBFF;
  font-size: 25px;
}

.AllProjectBtn {
  position: absolute;
  left: 40%;
  margin-top: 64px;
}
.AllProjectBtn button {
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter";
  line-height: 16px;
  border-radius: 25px;
  background-color: black;
  width: 238px;
  height: 56px;
}
.AllProjectBtn i {
  margin: 5px;
}

button:hover {
  width: 300px;
  background-color: #BEEBFF;
  font-size: 25px;
  color: #191919;
  border: none;
}

.OurTeam {
  width: 1920px;
  height: 2164px;
  background: rgba(240, 208, 130, 0.93);
  position: absolute;
  left: 0;
  top: 5240px;
}
.OurTeam .TeamHeader {
  margin-top: 121px;
  left: 300px;
  position: absolute;
}
.OurTeam .TeamHeader h1 {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500px;
  color: #F94D1C;
}
.OurTeam .BrowsTeam {
  display: flex;
}
.OurTeam .BrowsTeam h1 {
  width: 747px;
  height: 60px;
  left: 300px;
  position: absolute;
  margin-top: 161px;
  font-size: 45px;
  font-family: "DM Sans";
  font-weight: bold;
}
.OurTeam .BrowseButton {
  display: flex;
  margin-top: 162px;
  justify-content: end;
  right: 300px;
  position: absolute;
}
.OurTeam .BrowseButton .BrowseBtn {
  background-color: #f9d783;
  width: 221px;
  height: 56px;
  border-radius: 25px;
  border: 1px solid black;
}
.OurTeam .TeamMembers {
  display: grid;
  grid-template-areas: "Member-1 Member-2 Member-3 Member-4";
  padding-top: 94px;
  position: absolute;
  left: 300px;
  gap: 30px;
}
.OurTeam .TeamMembers h3 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 33px;
  margin-top: 28px;
}
.OurTeam .TeamMembers p {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 28px;
  color: RGBA(25, 25, 25, 0.7);
}
.OurTeam .TeamMembers .Members-1 {
  grid-area: "Member-1";
  margin-top: 300px;
}
.OurTeam .TeamMembers .Members-1 img {
  width: 307px;
  height: 420px;
}
.OurTeam .TeamMembers .Members-2 {
  grid-area: "Member-2";
  margin-top: 300px;
}
.OurTeam .TeamMembers .Members-2 img {
  width: 307px;
  height: 420px;
}
.OurTeam .TeamMembers .Members-3 {
  grid-area: "Member-3";
  margin-top: 300px;
}
.OurTeam .TeamMembers .Members-3 img {
  width: 307px;
  height: 420px;
}
.OurTeam .TeamMembers .Members-4 {
  grid-area: "Member-4";
  margin-top: 300px;
}
.OurTeam .TeamMembers .Members-4 img {
  width: 307px;
  height: 420px;
}
.OurTeam .NavDots {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 950px;
  left: 900px;
}
.OurTeam .NavDots .Dot {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 10px;
}
.OurTeam .Ratings {
  width: 1520px;
  height: 887px;
  position: absolute;
  left: 200px;
  right: 200px;
  top: 1075px;
  background-color: #FFFFFF;
}
.OurTeam .Ratings .TestimonialHeader {
  width: 640px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 450px;
  text-align: center;
}
.OurTeam .Ratings .TestimonialHeader p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 22px;
  color: #F94D1C;
}
.OurTeam .Ratings .TestimonialHeader h3 {
  font-size: 45px;
  font-family: "DM Sans";
  text-align: center;
  font-weight: bold;
  line-height: 55px;
}
.OurTeam .Ratings .starRatings {
  display: grid;
  grid-template-areas: "stars stars-1 stars-2";
  width: 100%;
  height: 500px;
  gap: 30px;
  position: absolute;
  top: 200px;
}
.OurTeam .Ratings .starRatings .stars {
  grid-area: stars;
  padding-left: 30px;
  height: 402px;
  width: 420px;
  place-self: center;
}
.OurTeam .Ratings .starRatings .stars i {
  color: #F94D1C;
  padding-top: 48px;
}
.OurTeam .Ratings .starRatings .stars p {
  width: 356px;
  height: 158px;
  font-size: 18px;
  font-family: "Inter";
  line-height: 34px;
  padding-top: 27px;
}
.OurTeam .Ratings .starRatings .stars img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-top: 40px;
}
.OurTeam .Ratings .starRatings .stars .RatingBio {
  display: flex;
}
.OurTeam .Ratings .starRatings .stars .RatingBio h6 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 33px;
  padding-top: 40px;
  margin-left: 30px;
}
.OurTeam .Ratings .starRatings .stars .RatingBio p {
  font-family: "Inter";
  font-size: 16px;
  color: #F94D1C;
  line-height: 28px;
  padding-top: 5px;
  margin-left: 30px;
}

.stars-1 {
  grid-area: "stars-1";
  padding-left: 30px;
  height: 402px;
  width: 420px;
  place-self: center;
}
.stars-1 i {
  color: #F94D1C;
  padding-top: 48px;
}
.stars-1 p {
  width: 356px;
  height: 158px;
  font-size: 18px;
  font-family: "Inter";
  line-height: 34px;
  padding-top: 27px;
}
.stars-1 img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-top: 40px;
}
.stars-1 .RatingBio {
  display: flex;
}
.stars-1 .RatingBio h6 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 33px;
  padding-top: 40px;
  margin-left: 30px;
}
.stars-1 .RatingBio p {
  font-family: "Inter";
  font-size: 16px;
  color: #F94D1C;
  line-height: 28px;
  padding-top: 5px;
  margin-left: 30px;
}

.stars-2 {
  grid-area: "stars-1";
  padding-left: 30px;
  height: 402px;
  width: 420px;
  place-self: center;
}
.stars-2 i {
  color: #F94D1C;
  padding-top: 48px;
}
.stars-2 p {
  width: 356px;
  height: 158px;
  font-size: 18px;
  font-family: "Inter";
  line-height: 34px;
  padding-top: 27px;
}
.stars-2 img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-top: 40px;
}
.stars-2 .RatingBio {
  display: flex;
}
.stars-2 .RatingBio h6 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 33px;
  padding-top: 40px;
  margin-left: 30px;
}
.stars-2 .RatingBio p {
  font-family: "Inter";
  font-size: 16px;
  color: #F94D1C;
  line-height: 28px;
  padding-top: 5px;
  margin-left: 30px;
}

.reviewButton {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 700px;
}
.reviewButton button {
  font-size: 16px;
  font-family: "Inter";
  font-weight: normal;
  line-height: 16px;
  width: 181px;
  height: 56px;
  color: #FFFFFF;
  background-color: #191919;
  border-radius: 25px;
}
.reviewButton button i {
  margin: 5px;
}
.reviewButton button:hover {
  width: 300px;
  background-color: #BEEBFF;
  color: #191919;
}

.NewsArticle {
  width: 100%;
  height: 852px;
  position: absolute;
  top: 7200px;
  left: 0;
  background-color: #FFFFFF;
}
.NewsArticle .news {
  padding-left: 300px;
  top: 120px;
  height: 22px;
  position: absolute;
}
.NewsArticle .news p {
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500px;
  line-height: 22px;
}
.NewsArticle .NewsHeader {
  grid-area: "NewsHeader";
  padding-left: 300px;
  position: absolute;
  top: 200px;
  display: flex;
}
.NewsArticle .NewsHeader h1 {
  font-size: 45px;
  font-family: "DM Sans";
  font-weight: bold;
  list-style: 55px;
}
.NewsArticle .NewsHeader button {
  margin-left: 523px;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: 1px solid black;
  width: 221px;
  height: 56px;
}
.NewsArticle .Articles {
  display: flex;
  padding-left: 300px;
  margin-top: 300px;
}
.NewsArticle .Article-1 {
  width: 447px;
  height: 428px;
}
.NewsArticle .Article-2 {
  width: 447px;
  height: 428px;
}
.NewsArticle .Article-3 {
  width: 447px;
  height: 428px;
}

.ArticleImg img {
  width: 420px;
  height: 230px;
}
.ArticleImg h6 {
  font-size: 16px;
  font-family: "Inter";
  color: #6A6C71;
  line-height: 26px;
  margin-top: 28px;
}
.ArticleImg h4 {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 33px;
}
.ArticleImg p {
  font-size: 16px;
  font-family: "Inter";
  line-height: 28px;
  color: RGBA(25, 25, 25, 0.7);
}

.GetUpdates {
  width: 1920px;
  height: 270px;
  background-color: #F0EFE9;
  top: 8000px;
  position: absolute;
}
.GetUpdates .signUp {
  width: 741px;
  height: 60px;
  position: absolute;
  left: 300px;
  top: 110px;
  display: flex;
}
.GetUpdates .signUp h1 {
  font-size: 45px;
  font-family: "DM Sans";
  font-weight: bold;
  text-align: left;
  line-height: 55px;
}
.GetUpdates .signUp .MailAddress {
  position: absolute;
  left: 800px;
  width: 308px;
  height: 56px;
  background-color: white;
  border-radius: 25px;
}
.GetUpdates .signUp .MailAddress p {
  color: RGBA(25, 25, 25, 0.5);
  left: 70px;
  position: absolute;
  top: 18px;
  font-size: 16px;
  font-family: "Inter";
  line-height: 16px;
  text-align: center;
}
.GetUpdates .signUp .Subscribe {
  position: absolute;
  left: 1150px;
  width: 171px;
  height: 56px;
  background-color: #F94D1C;
  border-radius: 25px;
  border: none;
}

.GetUpdates .footer {
  position: absolute;
  top: 250px;
}/*# sourceMappingURL=style.css.map */